@using Microsoft.AspNetCore.Identity;
@using sp23Team13FinalProject.Models;
@inject UserManager<AppUser> userManager

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="LogOff" asp-controller="Account" method="post" id="logoutForm" class="navbar-right" )>
        <ul class="nav navbar-nav navbar-right">
            @{
                var appUser = await userManager.GetUserAsync(User);
            }
            <li>
                <span title="Manage" class="nav-link">Hello @appUser.FirstName!</span>
            </li>
            <li>
                <a asp-action="Edit" asp-controller="AppUsers" asp-route-id="@appUser.Id" title="Edit" class="nav-link">Edit Profile</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="nav-link">Log Off</span></a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-action="Register" asp-controller="Account" id="registerLink" class="nav-link">Register</a></li>
        <li><a asp-action="Login" asp-controller="Account" id="loginLink" class="nav-link">Log in</a></li>
    </ul>
}


