@model sp23Team13FinalProject.Models.ViewModels.TimeSlotViewModel

@{
    ViewData["Title"] = "Select Time Slot";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Interviews" asp-action="ScheduleTimeSlot">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="SelectedPositionId" name="positionId" value="@Model.SelectedPositionId" />

            <div class="form-group">
                <label asp-for="SelectedInterviewId" class="control-label"></label>
                <select asp-for="SelectedInterviewId" name="selectedInterviewId" class="form-control" asp-items="@Model.TimeSlots"></select>
                <span asp-validation-for="SelectedInterviewId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Schedule Interview</button>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
