@model sp23Team13FinalProject.Models.ViewModels.PositionViewModel

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Position</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.CurrentCompany == null)
            {

                <div class="form-group">
                    <label asp-for="SelectedCompanyID" class="control-label"></label>
                    @Html.DropDownListFor(model => model.SelectedCompanyID, (SelectList)ViewBag.AllCompanies, "Select a Company", new { @class = "form-control" })
                </div>
            }
            else
            {
                <input type="hidden" name="SelectedCompanyID" value="@ViewBag.CurrentCompany">

            }

            <div class="form-group">
                <label asp-for="PositionTitle" class="control-label">Position Title</label>
                <input asp-for="PositionTitle" class="form-control" />
                <span asp-validation-for="PositionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionType" class="control-label"></label>
                <select asp-for="PositionType" asp-items="Html.GetEnumSelectList<PositionType>()" class="form-control">
                    <option selected="selected" value="">Select Position</option>
                </select>
                <span asp-validation-for="PositionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" type="date" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <label asp-for="SelectedMajorID" class="control-label"></label>
            @Html.ListBoxFor(model => model.SelectedMajorID, (MultiSelectList)ViewBag.AllMajors, new { @class = "form-control" })
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
